<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div class="container">
		<h1>New Leave Application</h1>
		<hr>
		<form action="#" th:action="@{/saveLeave}" th:object="${leaveForm}" method="POST">

			<div class="form-group">
				<label class="control-label required">Leave Type</label>
				<select name="leaveTypes" th:field="*{leaveType.id}" class="form-control mb-5 col-5">
					<option th:each="leaveType : ${leaveTypeList}" th:value="${leaveType.id}"
						th:text="${leaveType.leaveTypeName}"></option>
				</select>
			</div>

			<div class="form-group">
				<label class="control-label required">Start Date</label>
				<input id="startDateStr" readonly type="text" th:field="*{startDateStr}" placeholder="DD/MM/YYYY"
					class="form-control mb-5 col-5">
					<label th:if="${#fields.hasErrors('startDateStr')}" style="color:red;" th:errors="*{startDateStr}" class="control-label mb-4 col-4"></label>
			</div>

			<div class="form-group">
				<label class="control-label required">End Date</label>
				<input id="endDateStr" readonly type="text" th:field="*{endDateStr}" placeholder="DD/MM/YYYY"
					class="form-control mb-5 col-5">
					<label th:if="${#fields.hasErrors('endDateStr')}" style="color:red;" th:errors="*{endDateStr}" class="control-label mb-4 col-4"></label>
			</div>

			<div class="form-group">
				<label class="control-label required">Additional Comments</label>
				<input type="text" th:field="*{additionalComments}" placeholder="Additional Comments"
					class="form-control mb-5 col-5">
			</div>

			<div class="form-group">
				<label class="control-label required">Work Dissemination</label>
				<select name="coveringStaffs" th:field="*{coveringStaff.id}" class="form-control mb-5 col-5">
					<option th:each="coveringStaff : ${coveringStaffList}" th:value="${coveringStaff.id}"
						th:text="${coveringStaff.name}"></option>
				</select>
			</div>

			<div class="form-group">
				<label class="control-label required">Is Overseas?</label>
				<input type="checkbox" th:field="*{isAbroad}" class="form-control mb-5 col-5">
			</div>

			<div class="form-group">
				<label class="control-label required">Contact Details (Compulsory Field for Overseas Holiday)</label>
				<input type="text" th:field="*{contactNumber}" placeholder="Contact Details"
					class="form-control mb-5 col-5">
					<label th:if="${#fields.hasErrors('contactNumber')}" style="color:red;" th:errors="*{contactNumber}" class="control-label mb-4 col-4"></label>
			</div>

			<div class="form-group">
				<label class="control-label required">Application Status</label>
				<input readonly type="text" th:field="*{applicationStatus}" placeholder="Application Status"
					class="form-control mb-5 col-5">
			</div>
			<button type="submit" class="btn btn-info col-2">Submit Leave</button>
		</form>

		<hr>

		<a th:href="@{/LeaveApplication}"> Back to Home</a>
	</div>
	<script>
		$(document).ready(function () {
			$('#startDateStr').datepicker({
				format: 'dd/mm/yyyy',
				todayHighlight: true,
				autoclose: true,
				beforeShowDay: function (date) {
					dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
				}
			})
			$('#endDateStr').datepicker({
				format: 'dd/mm/yyyy',
				todayHighlight: true,
				autoclose: true,
				beforeShowDay: function (date) {
					dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
				}
			})
		})
	</script>
</body>


</html>