<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu" /></div>
	<div>
		<br><br>
		<table>
			<tr>
				<div style="position: relative; margin-right: 20px;">
					<td style="border: 1px solid black;">
						<h2 style="padding:20px;"> Submit New OT Claim</h2>
						<form style="padding:50px;" action=# th:action="@{/SubmitOTApplication}" method="GET">
							<input type="hidden" name="staffID" th:value="${staffID}"></input>
							<p>
								<label for="ot_date">OT Date: </label><br>
								<input type=date id="ot_date" name="dateOfOT" placeholder="dd-mm-yyyy" required></input>
							</p>
							<p>
								<label for="ot_hours">Number of Hours</label><br>
								<input type="number" id="ot_hours" name="numberOTHours" step=0.5 min=0.5
									   required></input>
							</p>

							<p>
								<label for="OT_description">Additional Remarks</label><br>
								<textarea rows="5" cols="33" id="OT_description" name="AdditionalRemarks"></textarea>
							</p>
							<p>
								<input type="hidden" name="managerID" th:value="${managerID}"></input>
								<label for="managerName">Manager Name:</label><br>
								<input type="text" id="managerName" th:value="${managerName}" readonly>
							</p>
							<input type="submit" value="Submit" style="width:300px"
								class="btn btn-primary btn-lg"></input>
						</form>
					</td>
				</div>
				<td width=200px>
				</td>
				<td style="vertical-align: top; ">
					<h2 style="padding:20px;"> Your Existing Applications</h2>
					<table class="table" th:if="${not #lists.isEmpty(staffOTApplications)}"
						style="border: 1px solid black;">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Overtime Date</th>
								<th scope="col">Number of Hours</th>
								<th scope="col">Additional Remarks</th>
								<th scope="col">Applied Date </th>
								<th scope="col">Approval Status </th>
							</tr>
						</thead>
						<tr th:each="OT, iterStat:${staffOTApplications}">
							<th scope="row" th:text="${iterStat.index}+1"></th>
							<td th:text="${#temporals.format(OT.date_OT, 'dd-MM-yyyy')}"> Overtime Date </td>
							<td th:text=${OT.hours_OT}> Number of Hours </td>
							<td th:text=${OT.employeeComment}> Additional Remarks </td>
							<td th:text="${#temporals.format(OT.appliedDateTime, 'dd-MM-yyyy')}"> Date Applied </td>
							<td th:text=${OT.applicationStatus}> Application Status </td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div>
			<a th:href="@{/LeaveApplication}"> Back to Home</a>
	</div>
</body>

</html>