<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
</head>

<body>
	<div th:replace="fragments/layout.html :: menu" />
	</div>
	<div class="container my-2 center">
		<h1>Overtime Claims History</h1>
		<hr>
					<table id="table_id" class="display" th:if="${not #lists.isEmpty(staffOTApplications)}">
						<thead>
							<tr>
								<th>#</th>
								<th>Overtime Date</th>
								<th>Number of Hours</th>
								<th>Additional Remarks</th>
								<th>Applied Date </th>
								<th>Approval Status </th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="OT, iterStat:${staffOTApplications}">
							<td th:text="${iterStat.index}+1">number</td>
							<td th:text="${#temporals.format(OT.date_OT, 'dd-MM-yyyy')}"> Overtime Date </td>
							<td th:text=${OT.hours_OT}> Number of Hours </td>
							<td th:text=${OT.employeeComment}> Additional Remarks </td>
							<td th:text="${#temporals.format(OT.appliedDateTime, 'dd-MM-yyyy')}"> Date Applied </td>
							<td th:text=${OT.applicationStatus}> Application Status </td>
						</tr>
						</tbody>
					</table>
		<hr>

		<a href="/LeaveApplication"> Back to Home</a>
	</div>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"
			crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			$('#table_id').DataTable();
		});

	</script>
</body>

</html>